div{
  background-color: red;
  color: white;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}
*{
  border: 2px solid red;
}

.image1{
  background-color:yellow;
  width: 200PX;
  height: 150px;
}

.one{
  background-color: yellow;
  border: white;
  padding: 32px;
  margin: 12px;
  text-shadow: thistle;
  color: black;
  padding-bottom: auto;
  margin-bottom: auto;
}

.two{
  background: lightblue;
  border: 3px solid blue;
  margin-bottom: auto;
}

.three{
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  padding: 32px;
  margin-left: auto;
}

.four{
  background: burlywood;
  border: chartreuse;
  width: auto;
  padding: 32px;
  margin-left: auto;
}